.flex{
    display: flex;
}
.flex > *{
    flex: 1;
    background: #F0F0F0;
}

.reveal pre {
    box-shadow: none !important;
}

.reveal code {
    font-family: "Source Code Pro",joypixels,monospace !important;
}

.reveal {
    font-family: "Source Sans Pro",joypixels;
}
